z-diger/uzmanlar-icin-php-kitap-kaynak-kodlar/soap/BankaServis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://musteri.banka.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankaServis"
	targetNamespace="http://musteri.banka.com">
	<wsdl:types>
		<xsd:schema targetNamespace="http://musteri.banka.com">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="tipType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ev"></xsd:enumeration>
					<xsd:enumeration value="cep"></xsd:enumeration>
					<xsd:enumeration value="is"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="telefonType">
				<xsd:simpleContent>
					<xsd:extension base="xsd:string">
						<xsd:attribute name="tip" type="tns:tipType"
							default="ev"></xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:element name="musteri" type="tns:musteriType">
			</xsd:element>
			<xsd:complexType name="musteriType">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int"></xsd:element>
					<xsd:element name="ad" type="xsd:string"></xsd:element>
					<xsd:element name="soyad" type="xsd:string">
					</xsd:element>
					<xsd:element name="telefon" type="tns:telefonType" maxOccurs="3" minOccurs="1">
					</xsd:element>
					<xsd:element name="adres" type="xsd:string">
					</xsd:element>
					<xsd:element name="aciklama" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true">
						<xsd:annotation>
							<xsd:documentation>
								aciklama alanının doldurulması isteğe
								bağlıdır
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dogumtarih" type="xsd:date" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="bakiye" type="xsd:decimal">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="musteriBilgisiGetir">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="musteriBilgisiGetirResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="musteriID" type="xsd:int">
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="musteriBilgisiGetirRequest">
		<wsdl:part name="parameters" element="tns:musteriID">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="musteriBilgisiGetirResponse">
		<wsdl:part name="parameters" element="tns:musteri">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="musteriBilgisiGetirFault">
		<wsdl:part name="fault" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BankaServis">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
		<wsdl:operation name="musteriBilgisiGetir">
			<wsdl:input message="tns:musteriBilgisiGetirRequest">
			</wsdl:input>
			<wsdl:output message="tns:musteriBilgisiGetirResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BankaServisSOAP" type="tns:BankaServis">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://musteri.banka.com/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="musteriBilgisiGetir">
			<soap:operation soapAction="http://musteri.banka.com/musteriBilgisiGetir" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BankaServis">
		<wsdl:port binding="tns:BankaServisSOAP" name="BankaServisSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>